@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
    font-size: 16px;
}

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1.25rem;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100vh;
}

#footer {
    background-color: #444;
    color: #fff;
    font-size: .66rem;
    letter-spacing: 0.0625rem;
    padding: 1.5625rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 100vw;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 5rem;
    background-color: #252831;
    text-align: center;
    display: flex;
    align-items: center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 1.17rem;
    font-weight: 200;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
}

#breadcrumb {
    padding: 0.625rem 2.5rem 1rem;
    list-style: none;
    background-color: #eee;
    font-size: 1.0625rem;
    margin: 0;
    width: 100%;
}

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #024A8D;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #021B36;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
    height: 25rem;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    height: 100%;
    background-color: #14588A;
    align-items: center;
    padding: 0.625rem 0.02rem 0.02rem;
    display: flex;
    flex-direction: column;
}

.filter-options h2 {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0.625rem 0;
}

.filter-options select {
    background-color: white;
    border: 0.0625rem solid #fff;
    font-family: Arial, sans-serif;
    font-size: 0.92rem;
    height: 2.1875rem;
    letter-spacing: 0;
    margin: 0 0 0.625rem 0;
    padding: 0 0.625rem;
    width: 12.5rem;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 1.25rem 0.02rem;
    text-align: center;
}

#restaurants-list li {
    background-color: #fff;
    border: 0.125rem solid #ccc;
    font-family: Arial, sans-serif;
    margin: 0.9375rem 0;
    min-height: 23.75rem;
    padding: 0 0.04rem 10px 0.04rem;
    text-align: left;
    width: 100%;
    min-width: 18.75rem;
    max-width: 35rem;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    min-width: 100%;
}

#restaurants-list li h3 {
    color: #B8860B;
    font-family: Arial, sans-serif;
    font-size: 1.67rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 1.25rem 0 0.625rem;
    text-transform: uppercase;
    text-align: center;
}

#restaurants-list p {
    margin: auto;
    font-size: 0.92rem;
    text-align: center;
}

#restaurants-list li a {
    background-color: #B8860B;
    width: 100%;
    border-bottom: 0.1875rem solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 0.83rem;
    margin: 0.9375rem 0 0;
    padding: 0.5rem 1.875rem 0.625rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    width: 100vw;
}

#restaurant-name {
    color: #B8860B;
    font-family: Arial, sans-serif;
    font-size: 1.67rem;
    font-weight: 200;
    letter-spacing: 0;
    margin: 0.9375rem 0 1.875rem;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 1.33rem;
    margin: 0.625rem 0rem;
    font-weight: 700;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 1.25rem;
    padding: 0.125rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 0.0625rem solid #d9d9d9;
    border-top: 0.0625rem solid #fff;
    padding: 1.25rem 0.02rem;
    width: 100%;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reviews-container h3 {
    color: #B8860B;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.0625rem;
    padding-bottom: .083rem;
}

#reviews-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews-list li {
    background-color: #fff;
    border: 0.125rem solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 1.875rem;
    overflow: hidden;
    padding: 0 0 0.625rem 0;
    position: relative;
    width: 95%;
}

#reviews-list li time {
    display: block;
}

#reviews-list li p,
#reviews-list li time {
    margin: 0 0 0.625rem;
    padding: 0 1.25rem;
}

#reviews-list li p:nth-child(1) {
    background: #333;
    color: #fff;
    font-size: 1.3em;
    padding: 0.625rem 1.25rem;
}

#reviews-list li p:nth-child(3) {
    background: #B8860B;
    padding: 0.3125rem 0.625rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-left: 1.25rem;
}

#restaurant-hours td {
    color: #666;
}

/* ====================== Media Queries: 480px; ====================== */

@media screen and (min-width: 480px) {
    .filter-options {
        display: block;
    }
    #neighborhoods-select {
        margin: 0 1.25rem 0.625rem 0;
    }
}

/* ====================== Media Queries: 600px; ====================== */

@media screen and (min-width: 600px) {
    #restaurants-list {
        padding: 1.25rem 1.875rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #restaurants-list li {
        padding: 0 1.875rem 0.625rem 1.875rem;
        margin: 0.9375rem;
    }
    #restaurant-container,
    #reviews-container {
        padding: 1.25rem 0.6875rem;
        margin: auto;
    }
}

/* ====================== Media Queries: 1150px; ====================== */

@media screen and (min-width: 1150px) {
    #reviews-container {
        max-width: 71.875rem;
    }
    #reviews-list {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #reviews-list li {
        width: 48%;
    }
}

/* ====================== Media Queries: 1400px; ====================== */

@media screen and (min-width: 1400px) {
    .filter-options {
        padding: 0.625rem 1.875rem 0 1.875rem;
    }
}